RewriteEngine on

<IfModule mod_headers.c>
    Header set Pragma "no-cache"
    Header set Cache-Control "no-cache"
    Header set Expires "Web, 02 May 1984 20:30:00 MST"
</IfModule>

#hostnames can work for simple things too
RewriteCond %{HTTP_HOST} ^(.*)\.webnumbr\.com$
RewriteRule ^(.*)$ http://webnumbr.com/%1/$1 [R,L]

# make sure "/" isn't served
RewriteRule ^$ %{REQUEST_URI}index [R,L]

# rewrite form submits to the direct form
RewriteCond %{REQUEST_URI} ^/numbr$
RewriteCond %{QUERY_STRING} ^name=(.*)$
RewriteRule ^.*$ http://%{HTTP_HOST}/%1? [R=301,L]

#check if you can add .php and get a good file
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

#check if the file doesn't exist and then assume it is a numbr
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#append query string
RewriteRule ^(.*)$ numbr.php?name=$1 [QSA] 
