html {
    margin :                20px;
    text-align :            center;
    background-color :      #0066CC;
}
    
#main {
    width :                 1000px;
    margin :                0px auto;
    text-align  :           left;
    border :                1px solid #333;
    background-color :      #EEEEFF;
    line-height :           150%;
    padding-bottom :        5px;
    padding-top :           5px;
    -moz-border-radius :    10px;
    -webkit-border-radius : 10px;
}

h1 {
    background-color :      black;
    color :                 white;
    text-align :            center;
    font-size :             200%;
    margin :                0.5em 0em;
    padding :               0.5em 0em;
}

div.content {
    margin :                0px 1em;
}

div.content li {
    list-style :            disc;
    margin :                0px 1em;
}

.searchresults {
    margin :                0.5em;
}

.center {
    text-align :            center;
}

td {
    padding :               0.2em;
}
