* {
    margin : 0px;
    padding : 0px;
}
fieldset,img {
    border-width:0;
    border-color:transparent;
}


#onsite, #embedcodes {
    width:388px; /* 2 px for border */
}
#onsite, #embedcodes, .top-menu {
    /* background : #e9fcff; */
    background : #eee;
}

.top-menu {
    border-bottom: 1px solid black;
    float : right;
    display : inline-block;
    padding : 0 0.7em;
    white-space : nowrap;
}
.top-menu * {
    display : inline;
}
.top-menu ul {
    list-style-image : none;
    list-style-position : outside;
    list-style-type : none;
    padding : 0px;
}
.top-menu li {
    position : relative;
    margin : 0px;
}
.top-menu li a {
    border:1px solid transparent;
    display:inline-block;
    font-size:1.05em;
    padding:0.5em 0.5em;
    color : black;
    text-decoration : none;
}
.top-menu li a:hover {
    background : #fff;
}

#search_form {
    padding : 0.7em;
    display : block;
}
#search_form input[type=text] {
    width : 250px;
    padding : 4px;
}

#logopic{
    padding-top:10px;
}

.slogan {
    text-align : center;
    margin : 30px 0px;
    padding : 10px;
    font-size : 24px; 
    background-color : #777;
    color : #fff;
}

#examples{
    width:500px;
    float:left;
}

#onsite, #embedcodes{
    float:right;
    padding:10px;;
    margin-bottom:20px;
    border-top : 1px solid black;
    background : #eee;
}

.logo{
    padding-top:10px;
/*        float:left; */
}

input, select {
    padding : 5px;
}
input[type=submit], input[type=button] {
    padding : 3px;
}


h1.first {
    margin-top :            0px;
}


p {
    margin :                10px;
}

#content {
    margin-top:               10px;
}
li, ol {
    margin :                0px 2em;
}

.center {
    text-align :            center;
}

.clear {
    clear :                 both;
}

.error {
    color :                 red;
}


div#idea, div#supply, div#demand, div#picture{
	width:490px;
	float:left;
}

div#top{
	clear:both;
	margin-top:20px;
}

div#examples{
	clear:both;
	padding:0px 0px 20px 0px;
}

div#feedback{
	margin-top:1em;
	clear:both;
	padding:20px;
    background:#FFECB3;
}

td.leftpadding{
    padding-left:20px;
}

div.minimenu{
    font-size:16px;
    font-weight:bold;
    padding:5px 0px 5px 0px;
}

textarea#feedbacktext{
    font-size:24px;
    font-family:verdana;
    width:100%;
    color:#AAA;
}

body {
    font: 16px Verdana, Arial, sans-serif;
	line-height:1.5em;
    padding: 0px 0px 0px 0px;
    margin: 0;
	color:#111;
    /* background:#f8f8f8; */
}





div#footer{
    clear:both;
}

a.secretlink{
	text-decoration:none; 
	color:black;
}

a.secretlink:visited {
	color:black;
}

a, a:visited {
	color:blue;
}

a:hover {
}


h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, sans-serif;
	font-weight:normal; 
    padding: 0px;
    margin: 5px 0px 10px 0px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}
h4, h5, h6 {
    font-size: 18px;
}


/* help */
.docs caption {
    background : #eee;
    margin : 40px 0px 10px 0px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:18px;
    border-bottom : 1px solid black;
}
.docs tr {
    margin-top : 5px;
}

#embedexamples caption{
    padding-top:22px;
    padding-bottom:10px;
}

table.docs{
    width:100%
}

.docs td{
    padding-right:10px;
}

div#wrap{
    margin:0px auto;
    width: 980px; 
    padding: 0px 10px 0px 10px; 
    text-align:left;
/*    border-left: #ddd solid 2px;
    border-right: #ddd solid 2px;  */
    background:#fff;
}

#footer {
    text-align:center;
	margin-top:1em;
	margin-bottom:1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
	color:#777;
}

a img{
 border:none;
 text-decoration:none;
} 

#footer a {
	color:#777;
	text-decoration:none;
}

#footer a:hover {
	text-decoration:underline;
}

/* SEARCH PAGE */
ul.searchresults {
    list-style-type: none; 
    margin-top : 40px;
}
.searchresults li {
    padding : 5px;
    margin : 7px;
}

.searchresults a {
    color: black;
    text-decoration : none;
    padding : 5px;
}
.search_data a {
    border : 1px black solid;
}

.searchresults a:hover {
    background : #eee;
    color: black;
}

.search_data {
    float : left;
    font-size : 20px;
    margin-right : 10px;
    margin-top : 11px;
}

.search_url {
    font-size : 60%;
}
.search_url a {
    color : #080;
}

/* numbr */
.numbr_title{
    font-size:24px;
    padding-bottom:20px;
}
.numbr_box{
    font-size:24px;
    float:left;
    padding:10px 20px;
    border: 1px solid black;
    margin : 0px 30px 10px 0px;
}
.numbr_graph{
    padding:20px 0px;
}
.numbr_embed_code input {
    width : 400px;
    vertical-align : top;
}
.numbr_embed_code img {
    vertical-align : top;
}
.numbr_graph_embed_code input {
    width : 400px;
}
.numbr_embed_code {
    padding : 10px;
}
.numbr_graph_embed_code {
    margin-top : 20px;
}
.numbr_description {
    padding-bottom : 30px;
}
.numbr_info td {
    padding: 5px;
}
h3.numbr_info {
    margin-top: 50px;
}

/* EDIT */
.edit-form input[type="submit"], .edit-form input[type="text"], .edit-form input[type="password"], .edit-form textarea, .edit-form select {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    margin:10px;
    padding:8px;
    width:350px;
}
.edit-form input[type="text"], .edit-form input[type="password"], .edit-form textarea, .edit-form select {
    border:1px solid #DDDDDD;
}
.edit-form input[type="submit"], .edit-form select {
    width : 370px;
}

.edit-form th {
    font-weight : normal;
    text-align: right;
    padding: 0px 10px;
}
